networks:
  caddy:
  mastodon:
    internal: true
  mastodon_outbound:
  synapse:
    internal: true
  synapse_outbound:
  element:
    internal: true
  peertube:
    internal: true
volumes:
  caddy_data:
  caddy_config:
services:

  # caddy acts as a reverse proxy for synapse (matrix)
  caddy:
    image: caddy:2.10.2
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - type: bind
        source: /var/www
        target: /www
    networks:
      - caddy
      - mastodon
      - synapse
      - element
      - peertube
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
      - target: 8448
        published: 8448
        protocol: tcp
        mode: host
    environment:
          DWEB_DOMAIN: "${DWEB_DOMAIN}"
          DWEB_ONION: "${DWEB_ONION}"
    configs:
      - source: caddy-caddyfile-config
        target: /etc/caddy/Caddyfile

configs:
  caddy-caddyfile-config:
    file: ../caddy/Caddyfile.tmpl
    external: false
