networks:
  element:
services:
### ELEMENT
  # element is a matrix web GUI running as a service
  element:
    image: vectorim/element-web:v1.11.110
    networks:
      - element
    ports:
      - "127.0.0.1:8001:8001"
    depends_on:
      - synapse
    configs:
      - source: element-json-config
        target: /app/config.json

configs:
  element-json-config:
    file: ../element/config.json
    external: false
