volumes:
  mau_data:
networks:
  mau:
services:
### MAU
  # mau is a synapse bot we run for news and other things
  mau:
    image: dock.mau.dev/maubot/maubot:v0.5.1
    configs:
      - source: mau-config
        target: /data/config.yaml
    ports:
      - "127.0.0.1:29316:29316"
    volumes:
      - mau_data:/data/
    networks:
      - mau
    depends_on:
      - caddy
      - synapse
      - element
configs:
  mau-config:
    file: ../mau/config.yaml
    external: false

