volumes:
  peertube_data:
  peertube_config:
  peertube_db:
  peertube_redis:

networks:
  peertube-int:
  peertube:

services:
  peertube-back:
    image: chocobozzz/peertube:production-bookworm
    env_file: ../peertube/environment
    ports:
      - "127.0.0.1:1935:1935"
      - "127.0.0.1:9010:9000"
    volumes:
      # Remove the following line if you want to use another webserver/proxy or test PeerTube in local
      # - assets:/app/client/dist
      - peertube_data:/data
      - peertube_config:/config
    depends_on:
      - peertube-postgres
      - peertube-redis
    networks:
      - peertube-int
      - peertube
    restart: "always"

  peertube-postgres:
    image: postgres:13-alpine
    env_file: ../peertube/environment
    environment:
      - 'POSTGRES_HOST_AUTH_METHOD=trust'
    volumes:
      - peertube_db:/var/lib/postgresql/data
    networks:
      - peertube-int
    restart: "always"

  peertube-redis:
    image: redis:6-alpine
    volumes:
      - peertube_redis:/data
    networks:
      - peertube-int
    restart: "always"

